body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: white;
    padding: 0.5em; /* 0 .5em; から変更 */
}

.footer {
    background-color: white;
    padding: 0.5em; /* 0 .5em; から変更 */
}

.main {
    background-color: #fff8d8;
    padding: 1em;
}

